@page "/"

<Title value="Главная"></Title>

<h1>Главная страница проекта</h1>
<p>Реализован проект с использованием технологии Blazor Server App</p>
<p>Содержит 3 раздела: Компании, Сотрудники, Должности</p>
