@page "/company/create"
@using CSharpAdvancedProjectBLL.Models
@using CSharpAdvancedProjectBLL.Interfaces
@inject NavigationManager UriHelper
@inject ICompanyService CompanyService

<Title Value="Добавить организацию"></Title>

<h3>Добавить организацию</h3>
<Form Company="@_company" OnValidSubmit="@CreateCompany"></Form>

@code {
    
    readonly CompanyModel _company = new();
    async Task CreateCompany()
    {

        await CompanyService.CreateAsync(_company);
        UriHelper.NavigateTo("company");
    }
}
