@page "/company/create"
@using CSharpAdvancedProjectBLL.Models
@using CSharpAdvancedProjectBLL.Interfaces
@inject NavigationManager UriHelper
@inject ICompanyService CompanyService

<h3>Create</h3>
<Form Company="@_company" OnValidSubmit="@CreateCompany"></Form>

@code {
    
    readonly CompanyModel _company = new CompanyModel();
    async Task CreateCompany()
    {

        await CompanyService.CreateAsync(_company);
        UriHelper.NavigateTo("company");
    }
}
