@page "/company/edit/{Id:int}"
@using CSharpAdvancedProjectBLL.Models
@using CSharpAdvancedProjectBLL.Interfaces
@inject NavigationManager UriHelper
@inject ICompanyService CompanyService
@inject IEmployeeService EmployeeService

<Title Value="Добавить организацию"></Title>

<h3>Редактирование организации</h3>
<Form Company="@_company" ButtonSuccessText="Изменить" OnValidSubmit="@EditCompany"></Form>

@code {

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var id = Id ?? 0;
        _company = await CompanyService.GetAsync(id);
    }

    CompanyModel _company = new();

    async Task EditCompany()
    {

        await CompanyService.UpdateAsync(_company);
        UriHelper.NavigateTo("company");
    }
}